# TerMinAll: Command-Line Text Processing Tutorial

Ever watched someone transform text files with a few keystrokes and thought, "**I should know how to do that**"?

I created TerMinAll to bridge that gap - a hands-on tutorial for mastering  **CAT**, **FIND**, **LS**, **HEAD/TAIL**, **SED**, **GREP** and **AWK**.

## Setup: Create Sample Data Files

First, let's create the sample data we'll work with throughout this tutorial.

In [1]:
%%bash
# Create sample text file
cat > sample.txt << 'EOF'
TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567

Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com
EOF

# Create sample log file
cat > logs.txt << 'EOF'
2025-01-15 ERROR Database connection lost
2025-01-15 INFO Server started
2025-01-15 WARNING Memory usage high
2025-01-15 ERROR Failed to process request
2025-01-15 DEBUG Loading configuration
2025-01-15 INFO User alice logged in
2025-01-15 ERROR Connection timeout
EOF

# Create sample CSV file
cat > users.csv << 'EOF'
id,username,email,age,city,status
1,jsmith,jsmith@email.com,28,New York,active
2,mjohnson,mjohnson@email.com,34,Chicago,active
3,kwilliams,kwilliams@email.com,45,Los Angeles,inactive
4,dgarcia,dgarcia@email.com,29,Houston,active
5,rbrown,rbrown@email.com,52,Phoenix,active
EOF

# Create sample JSON file
cat > config.json << 'EOF'
{
  "name": "MyApp",
  "version": "1.0.0",
  "server": {
    "host": "localhost",
    "port": 8080
  },
  "features": {
    "caching": true,
    "logging": true
  }
}
EOF

echo "âœ“ Sample files created!"
ls -lh

âœ“ Sample files created!
total 20K
-rw-r--r-- 1 root root  167 Dec 29 17:08 config.json
-rw-r--r-- 1 root root  265 Dec 29 17:08 logs.txt
drwxr-xr-x 1 root root 4.0K Dec 11 14:34 sample_data
-rw-r--r-- 1 root root  333 Dec 29 17:08 sample.txt
-rw-r--r-- 1 root root  273 Dec 29 17:08 users.csv

## 1. CAT - View Files

**CAT** displays file contents.

In [2]:
%%bash
# View entire file
cat sample.txt

TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567

Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

In [3]:
%%bash
# Show with line numbers
cat -n sample.txt

     1	TODO: Review documentation
     2	Section 1: Introduction
     3	This is a sample file for testing.
     4	Price: $100
     5	Email: user@example.com
     6	Phone: 555-123-4567
     7
     8	Section 2: Main Content
     9	TODO: Add more examples
    10	The quick brown fox jumps over the lazy dog.
    11	Price: $250
    12
    13	Section 3: Conclusion
    14	This file contains multiple sections.
    15	Contact: admin@test.com

## 2. FIND - Locate Files

In [4]:
%%bash
# Find all .txt files
find . -name "*.txt"

./sample.txt
./logs.txt

In [5]:
%%bash
# Find and execute command on results
find . -name "*.txt" -exec wc -l {} \;

15 ./sample.txt
7 ./logs.txt

## 3. LS - List Contents

In [6]:
%%bash
# Long format with human-readable sizes
ls -lh

total 20K
-rw-r--r-- 1 root root  167 Dec 29 17:08 config.json
-rw-r--r-- 1 root root  265 Dec 29 17:08 logs.txt
drwxr-xr-x 1 root root 4.0K Dec 11 14:34 sample_data
-rw-r--r-- 1 root root  333 Dec 29 17:08 sample.txt
-rw-r--r-- 1 root root  273 Dec 29 17:08 users.csv

In [7]:
%%bash
# Sort by size (largest first)
ls -lhS

total 20K
drwxr-xr-x 1 root root 4.0K Dec 11 14:34 sample_data
-rw-r--r-- 1 root root  333 Dec 29 17:08 sample.txt
-rw-r--r-- 1 root root  273 Dec 29 17:08 users.csv
-rw-r--r-- 1 root root  265 Dec 29 17:08 logs.txt
-rw-r--r-- 1 root root  167 Dec 29 17:08 config.json

## 4. HEAD & TAIL - Preview Files

In [8]:
%%bash
# First 5 lines
head -5 sample.txt

TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com

In [9]:
%%bash
# Last 5 lines
tail -5 sample.txt

Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

In [10]:
%%bash
# Skip header in CSV
tail -n +2 users.csv

1,jsmith,jsmith@email.com,28,New York,active
2,mjohnson,mjohnson@email.com,34,Chicago,active
3,kwilliams,kwilliams@email.com,45,Los Angeles,inactive
4,dgarcia,dgarcia@email.com,29,Houston,active
5,rbrown,rbrown@email.com,52,Phoenix,active

## 5. SED - Stream Editor

**SED** transforms text: find/replace, delete, insert.

### Find and Replace

In [11]:
%%bash
# Replace first occurrence per line
sed 's/TODO/DONE/' sample.txt

DONE: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567

Section 2: Main Content
DONE: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

In [12]:
%%bash
# Replace ALL occurrences (global)
sed 's/the/THE/g' sample.txt

TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567

Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over THE lazy dog.
Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

In [13]:
%%bash
# Case-insensitive replace
sed 's/section/CHAPTER/gI' sample.txt

TODO: Review documentation
CHAPTER 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567

CHAPTER 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250

CHAPTER 3: Conclusion
This file contains multiple CHAPTERs.
Contact: admin@test.com

### Delete Lines

In [14]:
%%bash
# Delete lines containing ERROR
sed '/ERROR/d' logs.txt

2025-01-15 INFO Server started
2025-01-15 WARNING Memory usage high
2025-01-15 DEBUG Loading configuration
2025-01-15 INFO User alice logged in

In [15]:
%%bash
# Delete empty lines
sed '/^$/d' sample.txt

TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567
Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250
Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

### Insert/Append Text

In [16]:
%%bash
# Insert text BEFORE pattern
sed '/Section 2/i === SECTION BREAK ===' sample.txt

TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
Phone: 555-123-4567

=== SECTION BREAK ===
Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

In [17]:
%%bash
# Append text AFTER pattern
sed '/Email:/a (Verified)' sample.txt

TODO: Review documentation
Section 1: Introduction
This is a sample file for testing.
Price: $100
Email: user@example.com
(Verified)
Phone: 555-123-4567

Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.
Price: $250

Section 3: Conclusion
This file contains multiple sections.
Contact: admin@test.com

### Capture Groups

In [18]:
%%bash
# Extract and reformat prices
sed -n 's/.*Price: \$\([0-9]*\).*/Price found: $\1/p' sample.txt

Price found: $100
Price found: $250

## 6. GREP - Search Patterns

**GREP** finds lines matching patterns.

### Basic Search

In [19]:
%%bash
# Find lines containing ERROR
grep 'ERROR' logs.txt

2025-01-15 ERROR Database connection lost
2025-01-15 ERROR Failed to process request
2025-01-15 ERROR Connection timeout

In [20]:
%%bash
# Case-insensitive search
grep -i 'section' sample.txt

Section 1: Introduction
Section 2: Main Content
Section 3: Conclusion
This file contains multiple sections.

In [21]:
%%bash
# Show line numbers
grep -n 'TODO' sample.txt

1:TODO: Review documentation
9:TODO: Add more examples

In [22]:
%%bash
# Count matches
grep -c 'ERROR' logs.txt

3

### Invert Match

In [23]:
%%bash
# Lines WITHOUT DEBUG
grep -v 'DEBUG' logs.txt

2025-01-15 ERROR Database connection lost
2025-01-15 INFO Server started
2025-01-15 WARNING Memory usage high
2025-01-15 ERROR Failed to process request
2025-01-15 INFO User alice logged in
2025-01-15 ERROR Connection timeout

### Context Display

In [24]:
%%bash
# Show 2 lines after match
grep -A 2 'Section 2' sample.txt

Section 2: Main Content
TODO: Add more examples
The quick brown fox jumps over the lazy dog.

### Extract Patterns

In [25]:
%%bash
# Extract email addresses
grep -Eo '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}' sample.txt

user@example.com
admin@test.com

In [26]:
%%bash
# Extract phone numbers
grep -Eo '[0-9]{3}-[0-9]{3}-[0-9]{4}' sample.txt

555-123-4567

## 7. AWK - Process Fields

**AWK** processes structured data (CSV, columns).

### Print Specific Columns

In [27]:
%%bash
# Print username column (column 2)
awk -F, '{print $2}' users.csv

username
jsmith
mjohnson
kwilliams
dgarcia
rbrown

In [28]:
%%bash
# Print multiple columns
awk -F, '{print $2, $5}' users.csv

username city
jsmith New York
mjohnson Chicago
kwilliams Los Angeles
dgarcia Houston
rbrown Phoenix

In [29]:
%%bash
# Skip header row
awk -F, 'NR>1 {print $2, $4}' users.csv

jsmith 28
mjohnson 34
kwilliams 45
dgarcia 29
rbrown 52

### Filter with Conditions

In [30]:
%%bash
# Show only active users
awk -F, '$6=="active" {print $2, $3}' users.csv

jsmith jsmith@email.com
mjohnson mjohnson@email.com
dgarcia dgarcia@email.com
rbrown rbrown@email.com

In [31]:
%%bash
# Users older than 30
awk -F, 'NR>1 && $4>30 {print $2, "Age:", $4}' users.csv

mjohnson Age: 34
kwilliams Age: 45
rbrown Age: 52

### Calculations

In [32]:
%%bash
# Calculate average age
awk -F, 'NR>1 {sum+=$4; count++} END {print "Average age:", sum/count}' users.csv

Average age: 37.6

In [33]:
%%bash
# Count by status
awk -F, 'NR>1 {count[$6]++} END {for (s in count) print s":", count[s]}' users.csv

inactive: 1
active: 4

### Formatted Output

In [34]:
%%bash
# Create formatted table
awk -F, 'BEGIN {printf "%-15s %-12s %-10s\n", "USERNAME", "CITY", "STATUS"}
         NR>1 {printf "%-15s %-12s %-10s\n", $2, $5, $6}' users.csv

USERNAME        CITY         STATUS
jsmith          New York     active
mjohnson        Chicago      active
kwilliams       Los Angeles  inactive
dgarcia         Houston      active
rbrown          Phoenix      active

## 8. Combining Tools (Pipelines)

Chain tools together with pipes `|` for powerful workflows.

In [35]:
%%bash
# Find ERRORs and upgrade to CRITICAL
grep 'ERROR' logs.txt | sed 's/ERROR/CRITICAL/g'

2025-01-15 CRITICAL Database connection lost
2025-01-15 CRITICAL Failed to process request
2025-01-15 CRITICAL Connection timeout

In [36]:
%%bash
# Extract emails and show domains only
awk -F, 'NR>1 {print $3}' users.csv | sed 's/.*@//'

email.com
email.com
email.com
email.com
email.com

In [37]:
%%bash
# Count active users in specific city
grep 'active' users.csv | grep 'New York' | wc -l

1

In [38]:
%%bash
# Extract prices and sum them
grep -o 'Price: \$[0-9]*' sample.txt | sed 's/Price: \$//' | awk '{sum+=$1} END {print "Total: $"sum}'

Total: $350

## 9. Quick Reference

### Command Summary

| Command | Purpose | Example |
|---------|---------|--------|
| `cat file.txt` | View file | `cat sample.txt` |
| `find . -name "*.txt"` | Find files | `find . -name "*.csv"` |
| `ls -lh` | List files | `ls -lhS` (by size) |
| `head -n 10 file` | First 10 lines | `head -5 sample.txt` |
| `tail -n 10 file` | Last 10 lines | `tail -5 logs.txt` |
| `sed 's/old/new/g'` | Replace text | `sed 's/ERROR/FIXED/g'` |
| `sed '/pattern/d'` | Delete lines | `sed '/DEBUG/d' logs.txt` |
| `grep 'pattern'` | Find pattern | `grep 'ERROR' logs.txt` |
| `grep -v 'pattern'` | Invert match | `grep -v 'DEBUG' logs.txt` |
| `awk '{print $1}'` | Print column | `awk -F, '{print $2}'` |
| `awk 'NR>1'` | Skip header | `awk -F, 'NR>1 {print $2}'` |

## Practice Exercises

Test your skills with these exercises organized by difficulty level.

### Level 1: Beginner

**Exercise 1.1:** Display the first 3 lines of `sample.txt`

In [39]:
%%bash
# Your solution here

**Solution:** `head -3 sample.txt`

**Exercise 1.2:** Count lines in `logs.txt`

In [40]:
%%bash
# Your solution here

**Solution:** `wc -l logs.txt`

### Level 2: Intermediate

**Exercise 2.1:** Find all lines with "Price" and show line numbers

In [41]:
%%bash
# Your solution here

**Solution:** `grep -n "Price" sample.txt`

**Exercise 2.2:** Replace "TODO" with "DONE" (preview only)

In [42]:
%%bash
# Your solution here

**Solution:** `sed "s/TODO/DONE/g" sample.txt`

**Exercise 2.3:** Count ERROR lines

In [43]:
%%bash
# Your solution here

**Solution:** `grep -c "ERROR" logs.txt`

### Level 3: Advanced

**Exercise 3.1:** Print usernames from CSV (skip header)

In [44]:
%%bash
# Your solution here

**Solution:** `awk -F, 'NR>1 {print $2}' users.csv`

**Exercise 3.2:** Show users older than 30

In [45]:
%%bash
# Your solution here

**Solution:** `awk -F, 'NR>1 && $4>30 {print $2, $4}' users.csv`

**Exercise 3.3:** Calculate total of all prices

In [46]:
%%bash
# Your solution here

**Solution:** `grep -o "Price: \$[0-9]*" sample.txt | sed "s/Price: \$//" | awk '{sum+=$1} END {print "Total: $"sum}'`

### Level 4: Expert

**Exercise 4.1:** Count ERROR vs WARNING logs

In [47]:
%%bash
# Your solution here

**Solution:** `grep -E "ERROR|WARNING" logs.txt | awk '{count[$3]++} END {for (t in count) print t":", count[t]}'`

**Exercise 4.2:** Create formatted report of active users

In [48]:
%%bash
# Your solution here

**Solution:** `awk -F, 'BEGIN {printf "%-15s %-5s %-15s\\n", "USER", "AGE", "CITY"} NR>1 && $6=="active" {printf "%-15s %-5s %-15s\\n", $2, $4, $5}' users.csv`

## ðŸŽ‰ Congratulations!

You've learned:
- âœ… **CAT** - View files
- âœ… **FIND** - Locate files
- âœ… **LS** - List contents
- âœ… **HEAD/TAIL** - Preview files
- âœ… **SED** - Transform text
- âœ… **GREP** - Search patterns
- âœ… **AWK** - Process fields
- âœ… **Pipelines** - Combine tools

**Next steps:**
- Practice with your own data files
- Combine tools in pipelines
- Explore advanced options: `man sed`, `man grep`, `man awk`